@model IEnumerable<Major>

<ul class="nav" id="majorList">
    @foreach (var m in Model)
    {
        <li class="nav-item">
            <a class="nav-link major-item"
               href="#"
               data-id="@m.MajorID">
                @m.MajorName
            </a>
        </li>
    }
</ul>
